body {
  background: black;
  color: red;
}
h1{
  text-align: center;
}
h2 {
text-align: center;
}
p {
text-align: center;
}
.pro {
  border: solid 1px blue;
  display: flex;
  
} 
.circle{
  
  height: 60px;
  width: 60px;
  border: solid 1px blue
}